doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/style.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0")
        title GitApi
    body 
        header 
            .logos
                img.logo(src="./imgs/logo.svg", alt="GitApi")
                h1 GitApi
            .search-form
                input.search(type="text" placeholder="Search")
                button.search-btn
                    i(class="material-symbols-outlined")  search
            .space
        section
            .grid 
        script(src="./js/index.js") 